<h2>アカウント設定</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email, "メールアドレス" %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password, "パスワード" %></p>
    <p><em>(パスワードを変更しない場合は空白のままにしてください)</em></p>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation, "パスワード（確認）" %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password, "現在のパスワード" %></p>
    <p><em>(変更を確認するために必要です)</em></p>
    <p><%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<div>
  <p>アカウントをお持ちではありませんか？</p>
  <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-danger" %>
</div>

<%= link_to "ログイン", new_session_path(resource_name) %>
