<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#0f172a">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="FloorMap">

    <%# Vite assets %>
    <link rel="stylesheet" href="/vite-prod/assets/application.Dbace04A.css">
    <script type="module" src="/vite-prod/assets/entrypoints/application.jsx.D2QPhzob.js"></script>
  </head>

  <body>
    <% if @inertia %>
      <div id="app" data-page="<%= @inertia.to_json %>"></div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>